
/*** COLORS ***/
/*
	#edeae6 white
	#dedbd6 warm light
	#dce8e6 light
	#424c49 medium
	#d2ad53 gold
	#77b2ca blue
	#bad5e0 blue bright
	#485456 green
	#303936 dark
	#070e0d black
*/

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.eot");
	font-style: italic;
}

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Rg.ttf');
}
@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Bd.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}
body {
	background: #edeae6;
	color: #303936;
	font-family: 'Aktiv', sans-serif;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 1.75em;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
a {
	color: #303936;
	text-decoration: none;

}
.intro a, .details a, .experience a {
	border-bottom: 2px solid #77b2ca;
	transition: background 0.125s ease;
}
.intro a {
	color: #424c49;
}
.intro a:hover, .details a:hover, .experience a:hover {
	background: #bad5e0;
}
h1, h2, h3 {
	line-height: 1.025em;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 0.75em;
}
h3 {
	font-size: 2em;
	margin-top: 0;
}
ul {
	padding-left: 0;
}
ul li {
	margin-left: 0.75em;
	margin-right: 0.75em;
}
header {
	text-align: center;
}
header {
	background: #303936;
	border-bottom: 0.5em solid #070e0d;
	color: #dedbd6;
	padding: 1.5em;
}
.logo {
	display: inline-block;
	text-align: center;
}
header h1 {
	font-family: 'FreightDisp Pro', 'Times New Roman', Times, serif;
	font-size: 2.25em;
	font-style: italic;
	font-weight: 200;
	margin-top: 0.125em;
	text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.5);
}
.subheading {
	color: #d2ad53;
	letter-spacing: 0.35em;
	margin-top: -0.5em;
	margin-bottom: 0;
	text-shadow: 0.095em 0.095em 0.095em rgba(0,0,0,0.5);
}
.subheading span {
	font-family: 'FreightDisp Pro', 'Times New Roman', Times, serif;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 70rem;
}
main, .intro {
	padding: 0 0.5em 3em;
}
.intro {
	max-width: 50rem;
	padding: 1em 0.5em;
}
.secondary {
	text-align: justify;
	text-transform: none;
}
.services {
	display: none;
}
.article {
	background-color: #424c49;
	background-position-y: center;
	background-size: cover;
	display: block;
	height: 120px;
	margin-top: 0.5em;
	text-decoration: none;
	overflow: hidden; 
	position: relative;
}
.article .text {
	color: #dedbd6;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 1em;
	text-align: left;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
	transition: all 0.125s ease;
	position: relative;
    z-index: 1000;
}

.article:before, .article:after {
	background-color: #424c49;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.article:before { /* static background */
	opacity: 0.75;
}
.article:after {
	height: 100%;
	opacity: 0.65;
	transform: rotate(3deg) translateY(1rem);
}

.article p {
	margin-top: 0.125em;
	margin-bottom: 0;
}
.article:hover .text {
	color: #edeae6;
}

.article.bostonhassle {
	background-image: url('img/bostonhassle.png');
	background-position: 0;
}
.article.marpvd {
	background-image: url('img/marpvd.png');
}
.article.legend {
	background-image: url('img/legend.png');
	background-position-y: 30%;
}
.article.pps {
	background-image: url('img/pps.png');
}
.article.serena {
	background-image: url('img/serena.png');
}
.article.amor {
	background-image: url('img/amor.png');
}
.article.ppsdb {
	background-image: url('img/ppsdb.png');
}
.article:last-of-type {
	margin-bottom: 3em;
}
.details {
	padding: 1rem;
	background: #dedbd6;
}
@media all and (max-width: 499px) {
	.secondary {
		display: none;
	}
}
@media all and (min-width: 500px) {
	header {
		text-align: left;
	}
	.intro {
		padding: 3em 0.5em;
	}
	section h1 {
		font-size: 2em;
	}
	.article {
		height: 150px;
	}
	.article:after { /* moving background on hover */
		height: 0%;
		opacity: 0;
		transition: all 0.125s;
	}
	.article:hover:after {
		height: 100%;
		opacity: 0.95;
		transition: height 0.25s;
	}
}
@media all and (min-width: 890px) {
	h3 {
		font-size: 2.75em;
	}
	.primary {
		font-size: 1.25em;
	}
	.secondary {
		font-size: 1rem;
	}
	.services {
		display: flex;
		margin-bottom: 3rem;
	}
	.services ul {
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin-left: 2rem;
		display: flex;
	}
}


/*** ICONS ***/

@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?hhft0b');
  src:  url('icons/icomoon.eot?hhft0b#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?hhft0b') format('truetype'),
    url('icons/icomoon.woff?hhft0b') format('woff'),
    url('icons/icomoon.svg?hhft0b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\2193";
}
.icon-arrow-down-left:before {
  content: "\2199";
}
.icon-arrow-down-right:before {
  content: "\2198";
}
.icon-arrow-left:before {
  content: "\2190";
}
.icon-arrow-right:before {
  content: "\2192";
}
.icon-arrow-up:before {
  content: "\2191";
}
.icon-arrow-up-left:before {
  content: "\2196";
}
.icon-arrow-up-right:before {
  content: "\2197";
}
.icon-github:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\2612";
}
.icon-map-pin:before {
  content: "\2299";
}