
/*** COLORS ***/
/*
	#edeae6 white
	#dedbd6 warm light
	#dce8e6 light
	#424c49 medium
	#77b2ca blue
	#bad5e0 blue bright
	#485456 green
	#303936 dark
	#070e0d black
*/

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.eot");
	font-style: italic;
}

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Rg.ttf');
}
@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Bd.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}
body {
	background: #edeae6;
	color: #303936;
	font-family: 'Aktiv', sans-serif;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 1.75em;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
a {
	color: #303936;
	text-decoration: none;

}
.intro a, .details a, .experience a {
	border-bottom: 2px solid #77b2ca;
	transition: background 0.125s ease;
}
.intro a {
	color: #424c49;
}
.intro a:hover, .details a:hover, .experience a:hover {
	background: #bad5e0;
}
h1, h2, h3 {
	line-height: 1.025em;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 0.75em;
}
h3 {
	font-size: 2em;
	margin-top: 0;
}
header,
.details {
	text-align: center;
}
header {
	background: #303936;
	border-bottom: 0.5em solid #070e0d;
	color: #dedbd6;
	padding: 1.5em 1.5em 2em;
}
header h1 {
	margin-top: 0.375em;
	text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.5);
}
header p {
	text-shadow: 0.095em 0.095em 0.095em rgba(0,0,0,0.5);
}
header a {
	color: #dedbd6;
}
.subheading {
	font-family: 'FreightDisp Pro', 'Times New Roman', Times, serif;
	font-size: 1.125em;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 0.075em;
	margin: 0 auto;
}
main, .intro {
	margin-left: auto;
	margin-right: auto;
}
main {	
	max-width: 70rem;
	padding: 0 0.5em 3em;
}
.intro {
	max-width: 50rem;
	padding: 1em 0.5em;
}
.primary {
	text-align: center;
}
.secondary {
	text-align: justify;
	text-transform: none;
}
.article {
	background-color: #424c49;
	background-size: cover;
	display: block;
	height: 120px;
	margin-top: 0.5em;
	text-decoration: none;
	overflow: hidden; 
	position: relative;
}
.article .text {
	color: #dedbd6;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 1em;
	text-align: left;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
	transition: all 0.125s ease;
	position: relative;
    z-index: 1000;
}

.article:before, .article:after {
	background-color: #424c49;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.article:before { /* static background */
	opacity: 0.75;
}
.article:after { /* moving background on hover */
	height: 0%;
	opacity: 0;
	transition: all 0.125s;
	transform: rotate(3deg) translateY(1rem);
}
.article:hover:after {
	height: 100%;
	opacity: 0.95;
	transition: height 0.25s;
}

.article p {
	margin-top: 0.125em;
	margin-bottom: 0;
}
.article:hover .text {
	color: #edeae6;
}

.article.bostonhassle {
	background-image: url('img/bostonhassle.png');
	background-position: 0;
}
.article.marpvd {
	background-image: url('img/marpvd.png');
}
.article.serena {
	background-image: url('img/serena.png');
}
.article:last-of-type {
	margin-bottom: 3em;
}
.details {
	border-top: 1px solid #77b2ca;
	padding-top: 2em;
}
@media all and (max-width: 499px) {
	h2,
	.secondary {
		display: none;
	}
}
@media all and (min-width: 500px) {
	header h1 {
		font-size: 4em;
	}
	.intro {
		padding: 3em 0.5em;
	}
	section h1 {
		font-size: 2em;
	}
	.article {
		height: 150px;
	}
}
@media all and (min-width: 890px) {
	.intro {
		font-size: 1.25em;
	}
	header {
		padding-bottom: 4em;
	}
	header h1 {
		font-size: 8.5em;
	}
	h3 {
		font-size: 2.75em;
	}
	.subheading {
		font-size: 2.5em;
		margin-top: 1rem;
	}
	.secondary {
		font-size: 1rem;
	}
}

/*** RESUME PAGE ***/

/*main.resume {
	text-align: left;
}

section.experience a {
	display: table;
}
section.experience p {
	margin: 1.5rem 0;
}

section.skills ul {
	padding-left: 1rem;
}

section.work > h2 {
	margin-bottom: 2rem;
}*/
