
/*** COLORS ***/
/*
	#edeae6 white
	#dedbd6 warm light
	#dce8e6 light
	#424c49 medium
	#d2ad53 gold
	#77b2ca blue
	#bad5e0 blue bright
	#485456 green
	#303936 dark
	#070e0d black
*/

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.eot");
	font-style: italic;
}

@font-face {
	font-family: 'FreightDisp Pro';
	src: url("fonts/FreigDisProBooItaWeb.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Rg.ttf');
}
@font-face {
	font-family: 'Aktiv';
	src: url('fonts/Aktiv_Bd.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
}
body {
	background: #edeae6;
	color: #303936;
	font-family: 'Aktiv', sans-serif;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 1.75em;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
a {
	color: #303936;
	text-decoration: none;

}
.intro a, .details a, .experience a {
	border-bottom: 2px solid #77b2ca;
	transition: background 0.125s ease;
}
.intro a {
	color: #424c49;
}
.intro a:hover, .details a:hover, .experience a:hover {
	background: #bad5e0;
}
h1, h2, h3 {
	line-height: 1.025em;
	margin-bottom: 0;
}
h2 {
	margin-bottom: 0.75em;
}
h3 {
	font-size: 2em;
	margin-top: 0;
}
ul {
	padding-left: 0;
}
ul li {
	margin-left: 0.75em;
	margin-right: 0.75em;
}
/*ul li:before {
	content: '-';
	padding-right: 0.5em;
}*/
header,
.details {
	text-align: center;
}
header {
	background: #303936;
	border-bottom: 0.5em solid #070e0d;
	color: #dedbd6;
	padding: 1.5em;
}
.logo {
	display: inline-block;
	text-align: center;
}
header h1 {
	font-family: 'FreightDisp Pro', 'Times New Roman', Times, serif;
	font-size: 2.25em;
	font-style: italic;
	font-weight: 200;
	margin-top: 0.125em;
	text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.5);
}
.subheading {
	color: #d2ad53;
	letter-spacing: 0.35em;
	margin-top: -0.5em;
	margin-bottom: 0;
	text-shadow: 0.095em 0.095em 0.095em rgba(0,0,0,0.5);
}
.subheading span {
	font-family: 'FreightDisp Pro', 'Times New Roman', Times, serif;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 70rem;
}
main, .intro {
	padding: 0 0.5em 3em;
}
.intro {
	max-width: 50rem;
	padding: 1em 0.5em;
}
.secondary {
	text-align: justify;
	text-transform: none;
}
.services {
	display: none;
}
.project {
	overflow: hidden;
	position: relative;
}
.project ul {
	position: absolute;
	z-index: 1;
	background: rgba(237, 234, 230, 0.72);
	top: 0;
	bottom: 0;
	height: 100%;
	padding: 1rem;
	margin: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	transform: translateX(100%);
	right: 0;
	list-style: none;
	transition: all 0.25s;
	width: 16rem;
	text-align: right;
	text-transform: none;
}
.project:hover ul {
	transform: translateX(0);
}
.project a {
	background-color: #424c49;
	background-position-y: center;
	background-size: cover;
	display: block;
	height: 120px;
	margin-top: 0.5em;
	margin-bottom: 0 !important;
	text-decoration: none;
	overflow: hidden; 
	position: relative;
}
.project a .text {
	color: #dedbd6;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 1em;
	text-align: left;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
	transition: all 0.125s ease;
	position: relative;
    z-index: 1000;
}

.project a:before, .project a:after {
	background-color: #424c49;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.project a:before { /* static background */
	opacity: 0.75;
}
.project a:after {
	height: 100%;
	opacity: 0.65;
	transform: rotate(3deg) translateY(1rem);
}

.project a p {
	margin-top: 0.125em;
	margin-bottom: 0;
}
.project a:hover .text {
	color: #edeae6;
}

.project a.bostonhassle {
	background-image: url('img/bostonhassle.png');
	background-position: 0;
}
.project a.marpvd {
	background-image: url('img/marpvd.png');
}
.project a.legend {
	background-image: url('img/legend.png');
	background-position-y: 30%;
}
.project a.pps {
	background-image: url('img/pps.png');
}
.project a.serena {
	background-image: url('img/serena.png');
}
.project a.amor {
	background-image: url('img/amor.png');
}
.project a.ppsdb {
	background-image: url('img/ppsdb.png');
}
.project a:last-of-type {
	margin-bottom: 3em;
}
.details {
	border-top: 1px solid #77b2ca;
	padding-top: 2em;
}
@media all and (max-width: 499px) {
	.secondary {
		display: none;
	}
}
@media all and (min-width: 500px) {
	header {
		text-align: left;
	}
	.intro {
		padding: 3em 0.5em;
	}
	section h1 {
		font-size: 2em;
	}
	.project a {
		height: 150px;
	}
	.project a:after { /* moving background on hover */
		height: 100%;
		opacity: 0.95;
		transition: height 0.25s;
	}
	.project a:hover:after {
		height: 0%;
		opacity: 0;
		transition: all 0.125s;
	}
}
@media all and (min-width: 890px) {
	h3 {
		font-size: 2.75em;
	}
	.primary {
		font-size: 1.25em;
	}
	.secondary {
		font-size: 1rem;
	}
	.services {
		display: flex;
		margin-bottom: 3rem;
	}
	.services ul {
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin-left: 2rem;
		display: flex;
	}
}

/*** RESUME PAGE ***/

/*main.resume {
	text-align: left;
}

section.experience a {
	display: table;
}
section.experience p {
	margin: 1.5rem 0;
}

section.skills ul {
	padding-left: 1rem;
}

section.work > h2 {
	margin-bottom: 2rem;
}*/
